.p-faq {
  display: flex;
  flex-wrap: wrap;
}

.o-accordion {
  width: 50%;
  padding: .938em;
  margin-bottom: .625em;

  display: flex;
  flex-direction: column;
  
  cursor: pointer;
  border-radius: .313rem;
  border: 1px solid var(--accent-dark-color);
  background-color: var(--light-grey-color);

  transition: all .3s ease;
}

.o-accordion svg {
  fill: var(--black-color);
  opacity: .5;
}

.o-accordion.is-active .accordion__visible-arrow {
  transform: rotate(180deg);
}

.accordion__visible {
  display: flex;
  align-items: center;
}

.accordion__visible-question {
  width: 90%;
}

.accordion__visible-arrow {
  width: 10%;

  transition: transform .3s ease;
}

.o-accordion p {
  display: none;
  margin-top: .938em;

  font-size: .815em;
}

.o-accordion.is-active p {
  display: block;
}