.p-faq-page {
  display: flex;
  flex-wrap: wrap;
  margin: -.625em auto;
}

.p-faq-page h4 {
  width: 100%;
}

.p-faq {
  width: 50%;
  padding: .625em;
  display: flex;
  flex-wrap: wrap;
}

.o-accordion {
  width: 100%;
  margin-bottom: .625em;

  display: flex;
  flex-direction: column;
  
  transition: all .3s ease;
}

.o-accordion svg {
  fill: var(--black-color);
  opacity: .5;
}

.o-accordion.is-active .accordion__visible-arrow {
  transform: rotate(180deg);
}

.accordion__visible {
  padding: .625em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  cursor: pointer;
  border-radius: .313rem;
  border: 1px solid var(--accent-color);
  background-color: var(--light-grey-color);
}

.accordion__visible svg {
  fill: var(--accent-color);
  opacity: 1;
}

.accordion__visible-question {
  width: 90%;
  font-weight: 600;
  font-size: 24px;
  color: var(--accent-color);
}

.accordion__visible-arrow {
  width: 10%;

  transition: transform .3s ease;
}

.accordion__visible-line {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
}

.o-accordion p {
  display: none;
  margin: 0;

  font-size: .815em;
}

.o-accordion.is-active .accordion__visible-line {
  margin-bottom: 1.250em;
}

.o-accordion.is-active p {
  display: block;
}

.o-accordion.is-active .accordion__visible-arrow {
  transform: rotate(180deg);
}