.c-nav {
  z-index: 997;
  width: 100%;
  top: 0;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.46));
  box-shadow: 0 3px 60px 0 rgba(255, 255, 255, 0.5);
}

.c-nav__header-wrapper {
  height: 5.000rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-box {
  width: 10px;
  height: 20px;
  position: relative;

  display: none;
  align-items: center;
  justify-content: center;
}

.hamburger-inner {
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--accent-color);
  
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  transform: rotate(270deg);
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 20px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.hamburger-inner:after, .hamburger-inner:before {
  content: "";
  display: block;
}

.hamburger-box.is-active .hamburger-inner:before {
  top: -3px;
  transform: translate3d(-6px,0,0) rotate(-45deg) scaleX(0.5);
}

.hamburger-inner:before {
  top: -6px;
}

.hamburger-box.is-active .hamburger-inner:after {
  bottom: -3px;
  transform: translate3d(-6px,0,0) rotate(45deg) scaleX(0.5);
}

.hamburger-inner:after {
  bottom: -6px;
}

.c-nav__header-wrapper .hamburger-box.is-active + .c-nav__header {
  bottom: -50px;
  left: 0;
  width: 100%;
  position: absolute;
  display: flex;
}

.c-nav__header {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.c-nav__header-item {
  padding: .625em;
  padding-left: .938em;
  position: relative;

  cursor: pointer;
  font-size: 0.750em;
  text-transform: uppercase;
  color: var(--accent-dark-color);

  transition: all .3s ease;
}

.c-nav__header:hover .c-nav__header-item:not(:hover) {
  opacity: .5;
}

.c-nav__header-item.is-active .c-nav__dropdown {
  width: 150px;
  top: 100%;
  left: 0;
  display: block;
  position: absolute;

  font-size: .750rem;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.c-nav__header-item:hover,
.c-nav__header-item.is-active {
  opacity: 1;
  background-color: var(--white-color);
  box-shadow: 0 10px 30px 0 rgba(0, 122, 255, 0.2);
}

.c-nav__dropdown {
    display: none;
}

.c-nav__dropdown-item {
  padding: .313em .625em;

  background: #fff;
  transition: all .3s ease;
}

.c-nav__dropdown-item:hover {
  background-color: var(--light-grey-color);
}